  .newP{
    font-family: 'VT323', monospace;
    font-size: 50px;
    border-radius: 25px;
    border-width: 5px;
    border-color: white;
    max-height: 75px;
    max-width: 300px;
    display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
  }
  #labelB{
    font-family: 'VT323', monospace;font-size: 25px;border-radius: 25px;border-width: 5px;border-color: white;max-height: 40px;  max-width: 200px;
    display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
  }
    .labelAA{
    font-family: 'VT323', monospace;font-size: 27px;border-radius: 25px;border-width: 5px;border-color: white;max-height: 40px;  max-width: 200px;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  #tablee{
     font-family: 'VT323', monospace;font-size: 27px; font-weight: 7;
  }
    #tableeee{
     font-family: 'VT323', monospace;font-size: 27px; font-weight: 7;
  }
    #tableee{
     font-family: 'VT323', monospace;font-size: 20px; font-weight: 7;
  }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




.buttonC span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonC span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.buttonC:hover span {
  padding-left: 25px;
}

.buttonC:hover span:after {
  opacity: 1;
  left: 0;
}

  #style-9::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb
{
  background-color: #F90; 
  background-image: -webkit-linear-gradient(90deg,
                                            rgba(255, 255, 255, .2) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(255, 255, 255, .2) 50%,
                        rgba(255, 255, 255, .2) 75%,
                        transparent 75%,
                        transparent)
}

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  width: 150px;
    height: 150px;  
}

.loade {
    width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid white;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 